// /* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use 'sass:map';
@use 'sass:color';

@include mat.core();

.mat-icon {
  color: #FF7020;
}

html, body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background: #4caf50;
  color: white;
}

.error-snackbar {
  background: #f44336;
  color: white;
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 8px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin: 16px auto;
  padding: 24px;
}

@media (max-width: 600px) {
  mat-card {
    margin: 16px;
    padding: 16px;
  }
}
