<div class="home-container">
  <div class="content">
    <div class="welcome-section">
      <h1>Bem-vindo ao Sistema de Reservas GOL</h1>
      <p>Gerencie suas reservas de voos de forma simples e eficiente.</p>
    </div>

    <div class="menu-grid">
      <mat-card class="menu-item">
        <mat-card-header>
          <mat-icon>add_circle</mat-icon>
          <mat-card-title>Nova Reserva</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Cadastre uma nova reserva</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/registrar-reserva">
            <mat-icon>arrow_forward</mat-icon>
            Acessar
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="menu-item">
        <mat-card-header>
          <mat-icon>list</mat-icon>
          <mat-card-title>Reservas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Veja a lista de suas reservas</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/lista-reservas">
            <mat-icon>arrow_forward</mat-icon>
            Acessar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="menu-grid">
      <mat-card class="menu-item">
        <mat-card-header>
          <mat-icon>add_circle</mat-icon>
          <mat-card-title>Enviar reservas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Envie o relatório de reservas</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/reservas">
            <mat-icon>arrow_forward</mat-icon>
            Acessar
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="menu-item">
        <mat-card-header>
          <mat-icon>dashboard</mat-icon>
          <mat-card-title>Dashboard</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Veja os indicadores de desempenho</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/dashboard">
            <mat-icon>arrow_forward</mat-icon>
            Acessar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
